html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    display: flex;
    background-color: var(--color-light-gray);
    font-family: 'Fira Code', monospace;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    font-size: 1.6rem;
}
