@use 'sass:map';
@use 'sass:color';

$grays: (
    ghost-white: #f8f8ff,
    ghost: #ececf2,
    light-gray: #8c8caa,
);

$blues: (
    dark-blue: #00356f,
    dark-cerulean: #0067a5,
);

$colors: map.merge($grays, $blues);

@function hex-to-rgb($color) {
    @return rgb(
        color.channel($color, 'red', $space: rgb),
        color.channel($color, 'green', $space: rgb),
        color.channel($color, 'red', $space: rgb)
    );
}

:root {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }

    --color-skeleton-primary: #{rgba(
            hex-to-rgb(map.get($grays, 'light-gray')),
            0.1
        )};
    --color-skeleton-secondary: #{rgba(
            hex-to-rgb(map.get($blues, 'dark-cerulean')),
            0.1
        )};
}

@each $name, $color in $colors {
    .tx-#{$name} {
        color: var(--color-#{$name});
    }

    .bg-#{$name} {
        background-color: var(--color-#{$name});
    }
}
