$columns: 12;

.container {
    margin: auto auto;
    width: 210mm;
    height: 297mm;
    padding: 5rem 5rem;
}

@media (max-width: 800px) {
    .container {
        height: fit-content;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    padding: 0 1rem;
}

@for $i from 1 to 4 {
    .col-#{$i} {
        flex: $i;
        padding: 0 1rem;
    }
}
