.v-divider {
    width: 1px;
    margin: 4px 0;
    padding: 0;
    flex: 0 1 auto;
    background-color: var(--color-light-gray);
}

hr {
    border: none;
    border-top: 1px solid var(--color-dark-cerulean);
    width: 100%;
    position: absolute;
    margin-top: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 0;

    &.multi {
        width: calc(100% - 2rem);
    }
}

.sep {
    position: relative;

    &-1::after {
        line-height: inherit;
        right: 0;
        margin-right: -0.4rem;
        position: absolute;
        content: '\2223';
        color: var(--color-dark-cerulean);
    }
}
