a[href] {
    color: var(--color-dark-blue);
    text-underline-offset: 4px;

    &:hover {
        color: var(--color-dark-cerulean);
    }
}

@media print {
    a {
        text-decoration: underline;
        text-decoration-color: var(--color-dark-blue);
        text-underline-offset: 4px;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}
