a[href] {
    color: var(--color-dark-blue);

    &:hover {
        color: var(--color-dark-cerulean);
    }
}

@media print {
    a[href] {
        text-decoration-thickness: 1px; /* Set the thickness of the underline */
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}
